* {
	text-align: center;
}
body{
	background-color: #FF6600;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

.jumbotron {
	background-color: #FFCC00;
}